body{
	background: url(https://images.unsplash.com/photo-1506102785777-2744046d4da8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3e8cb594e83131a7448b2023f7b26fd&auto=format&fit=crop&w=1052&q=80);
	background-size: cover;
	background-position: center; 
	font-family: Lato;
	color: white;
}

html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px black, 0px 8px 13px gray;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0,2);
}
